body{ background-color: #282c34;}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main_table{
  display: flex;
  background-color: white;
  width: 90vw;
  margin: 10vh 5vw;
  min-height: 50vh;
}
.Worker,.Flights,.Flight_data{
  color: black;
  border: solid 1px black;
}
.Worker{
  width: 20%;
  padding-top: 0;
}
.workers_header{
  background-color: aqua;
  height: 15%;
  margin:  0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Flights{
  width: 50%;
}
.Flight_meni{
  display: flex;
  justify-content: space-evenly;
}
.Menu_item{
  width: 20%;
}
.display_flight{
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px aqua;
}
.display_item{
  width: 20%;
}
.Flight_data{
  width: 30%;
}
.data_item{
  border-top: solid 1px aqua;
}